:root {
  --color-primary: black;
  --color-primary-light: grey;
  --color-secondary: white;
  --color-accent: red;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: black;

  --font-primary: "Akzidenz-Grotesk BQ", sans-serif;
  --font-secondary: "Arial", sans-serif;
}

/*Typography*/

html {
  font-family: var(--font-primary);
  var(--font-primary);
}

h1 {
  text-transform: uppercase;
  color: var(--color-primary);
  --font-primary: "Akzidenz-Grotesk BQ", sans-serif;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  color: var(--color-primary);
}

h4 {
  text-transform: uppercase;
  color: var(--color-primary);
}

h5 {
  text-transform: uppercase;
  color: var(--color-primary);
}

h6 {
  color: var(--color-primary);
}

mark {
  background-color: var(--color-primary-light);
}

/*Links*/

a {
  color: var(--color-primary);
  --text-decoration: none;
}

a:visited{
  color: var(--color-accent);
}

/*Lists*/

ul li {
  color: black;
}

dt {
  text-transform: uppercase;
 color: var(--color-accent);
 font-weight: bold;
}

/*Emphasis*/

strong {
  color: var(--color-primary);
}
