.header-banner {
  background-color: #fff;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
}

h1 {
  display: block;
 font-size: 3.5em;
 margin-top: 0.83em;
 margin-bottom: 0.83em;
 margin-left: 0;
 margin-right: 0;
 font-weight: bold;
}

.nav-colour {
  color: #000;
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: bold;
}

.nav-colour:hover {
  color: #fff;
  border: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: thin;
  border-color: #red;
}

.logo {
  max-width: 150px;
  margin: 0 auto;
}

.header {
  max-width: 150px;
  margin: 0 auto;
}

.title {
  color: #000;
  font-family: var(--font-secondary);
}

@media only screen and (min-width: 25em) {

  .header-banner {
    padding-top: 8%;
  }

}

@media only screen and (min-width: 38em) {

  .header-banner {
    padding-top: 10%;
  }

  .nav li {
    text-align: left;
  }

}

@media only screen and (min-width: 90em) {

  .header-banner {
    padding-top: 20%;
  }

}
